
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsgbkLYgbTGcmkjiB7LgVRCMmdO_xcTkWAOg&usqp=CAU') center center fixed;
    font-family: Arial, sans-serif;
    background-size:cover;
    color: white;
    background-repeat: no-repeat;
}

.main-head {
    
    
   
    text-align: center;
    padding: 20px;
}

.head{
    /* font-size: 100px; */
    margin-bottom: 30px;
    margin-top: 30px;
}
.h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;

}


.form {
    padding: 20px;
}

.main-form input.input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.input-btn {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 200px;
    margin-right: 200px;
    
}


.wrap {
    color: white;
    margin: 10px;
}

#location-box, #current-weather-head, #time, #temp, #text, #feels-like {
    text-align: center;
    margin: 10px;
}

#icon {
    display: block;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .main-head {
        padding: 10px;
    }

    .head h1 {
        font-size: 24px;
    }

    .form {
        padding: 10px;
    }

    .main-form input.input {
        font-size: 14px;
    }

    .input-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}



